@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Şifre";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = "/Areas/Identity/Pages/Account/Manage/_ManageLayout.cshtml";
}

<h4>Şifrenizi değiştirin</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div>
    <form id="change-password-form" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Mevcut şifrenizi giriniz." />
            <label asp-for="Input.OldPassword">Mevcut Şifre</label>
            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Yeni şifrenizi giriniz." />
            <label asp-for="Input.NewPassword">Yeni Şifre</label>
            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Yeni şifrenizi tekrar giriniz." />
            <label asp-for="Input.ConfirmPassword">Yeni Şifre Tekrar</label>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">Şifreyi güncelle</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
