@page
@model EmailModel
@{
    ViewData["Title"] = "E-posta";
    ViewData["ActivePage"] = ManageNavPages.Email;
    Layout = "/Areas/Identity/Pages/Account/Manage/_ManageLayout.cshtml";
}

<h4>E-postayı Yönet</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div>
    <form id="email-form" method="post">
        <div asp-validation-summary="All" class="text-danger" role="alert"></div>
        @if (Model.IsEmailConfirmed)
        {
            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" placeholder="E-posta adresinizi giriniz." disabled />
                <label asp-for="Email" class="form-label">E-posta</label>
                <div class="input-group-append">
                    <span class="h-100 form-control text-center">
                        <i class="bi bi-check-circle-fill text-success"></i>
                    </span>
                </div>
            </div>
        }
        else
        {
            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" placeholder="E-posta adresinizi giriniz." disabled />
                <label asp-for="Email" class="form-label">E-posta</label>
                <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Doğrulama e-postası gönder</button>
            </div>
        }
        <div class="form-floating mb-3">
            <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" placeholder="Yeni e-posta adresinizi giriniz." />
            <label asp-for="Input.NewEmail" class="form-label">Yeni E-posta</label>
            <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
        </div>
        <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-lg btn-primary">E-postayı değiştir</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
